.kakao_map {
  width: 100vw;
  height: 100vw;
  margin-bottom: 10vw;
}
.repair_list {
  height: 50vw;
  overflow: scroll;
  border: 1px rgb(231, 231, 231) solid;
}
.repair_search_box {
  display: flex;
  justify-content: center;
  margin-bottom: 5vw;
}
.repair_search_box .repair_search_input {
  width: 80vw;
  height: 10vw;
}
