.repair_list_item {
  border: 1px rgb(151, 151, 151) solid;
  margin: 2px;
}
.repair_list_item .repair_list_item_info {
  padding: 0 10px;
}
.repair_list_item .repair_list_item_info .repair_item_name_area {
  display: flex;
  justify-content: space-between;
}
.repair_list_item
  .repair_list_item_info
  .repair_item_name_area
  .form_cur_distance {
  color: red;
}
.repair_shop_detail_link {
  text-decoration: none;
  color: black;
}
.repair_shop_detail_link:visited {
  color: black;
}
