.repair_list_item {
  border: 1px rgb(151, 151, 151) solid;
  margin: 2px;
  border-radius: 20px;
}
.repair_list_item .repair_list_item_info {
  padding: 0 10px;
}
.repair_shop_detail_link {
  text-decoration: none;
  color: black;
}
.repair_shop_detail_link:visited {
  color: black;
}
