.repair_map_area {
  display: flex;
  flex-direction: column;
}
.kakao_map {
  width: 100vw;
  height: calc(100vh - 70vw);
}
.repair_list {
  position: relative;
  overflow: scroll;
  z-index: 1000;
  background-color: white;
  border-radius: 20px 0 0;
  padding: 5vw 0 20vw 0;
}
.repair_search_box {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 5vw;
  padding-top: 5vw;
  z-index: 2;
}
.repair_search_box .repair_search_input {
  width: 80vw;
  height: 10vw;
  border-radius: 5vw;
  border: 1px rgb(200, 200, 200) solid;
  padding: 0 5vw;
}
.customoverlay {
  position: relative;
  bottom: 50px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
}
.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.customoverlay > div {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  background: #94c6ff;
}
.customoverlay .title {
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
}
.customoverlay:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
